html(lang='en')
  head
    title Rental Application
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='shortcut icon' href='/images/icon.png')
    link(rel='stylesheet' media='print' href='/stylesheets/rentap-print.css')
    link(rel='stylesheet' media='print' href='/stylesheets/rentap-screen.css')
    link(rel='stylesheet' media='screen' href='/stylesheets/rentap-screen.css')
  body

    //- The form action is the current url by default, and the method is 'get' by default
    //- 
    //- However, buttons (which are of type submit by default) can have
    //- formaction='/path' and the same can be done with method, 
    //- formmethod='post'
    //- all the get buttons will be distinguished by path (in rentapRoutes), so will use formaction='/path' for all get buttons
    //- all the post buttons will have name 'button' and will be distinguished by value. there will only be one controller method
    //-  for all post buttons
    form#rentap(method='post')
      //- the model has access to headers table as headers[{StreetAddress, CityStateZip, Title, Name}, etc.]
      //- header: {StreetAddress, CityStateZip, Title, Name}, headerNames[name1,...], 
      table#headertable
        tr
          td.max25ch
            input#mode.readonly.newline(name='mode' type='text' value=(undefined===mode ? 'new' : mode) style=('edit'===mode ? "color:green" : ('discarded'===mode ? "color:red" : false)) readonly) 
            if (mode != 'discarded')
              button#new.inline(formaction='/rentap' formmethod='get') New 
              button#discard.inline(formaction='/rentap/discard/' + (undefined===ap ? 0 : ap.rowid) formmethod='get') Discard
              button#trash.inline(formaction='/rentap/show/' + (undefined==ap ? 0 : ap.rowid) + '/switch_mode' formmethod='get') Trash
            else 
              button#restore.inline(formaction='/rentap/restore/' + (undefined==ap ? '' : ap.rowid) formmethod='get') Restore
              button#delrentap.inline(formaction='/rentap/delete/' + (undefined==ap ? '' : ap.rowid) formmethod='get') Delete
              button#back.inline(formaction='/rentap/show/' + (undefined==ap ? '' : ap.rowid) + '/switch_mode' formmethod='get') Back 

          td.max25ch
            //- below 'select' is not a button, but will act like a submit button when the value changes. The controller distinguishes
            //- which button did the submission according to the value of form.button
            if (headers)
              select.inline(name='button' onchange='rentap.submit()')
                each hdr in headers
                  option(value=hdr.Name selected=(!header ? (undefined===ap ? 'Choose Header'===hdr.Name : ap.headerName===hdr.Name) : header.Name===hdr.Name))= hdr.Name
            //- the buttons just have one character on them (+, ~, -)
            //- saveheader and editheader both save, but one inserts new and the other updates existing
            button#delheader.inline.leftgap(title='Delete Header' name='button' value='deleteheader') -
            button#editheader.inline(title='Save Edited Header' name='button' value='existingheader') ~
            button#saveheader.inline(title='Save New Header' name='button' value='newheader') +
            //- value of input#headername changes when the 'select' menu above changes
            input#headername(name='headername' type='text' value=(undefined===ap ? (!header ? '' : header.Name) : ap.headerName)) 
            
          td.max25ch
            label.sameline_label(for='row') row:
            input#row.sameline_input(name='row' type='text' value=(undefined==ap ? undefined : ap.rownum))
            button#jump.inlinebutton(name='button' value='jump') Go

            input#pattern(name='pattern' type='text' value='')
            button#search.inlinebutton(title='Click while empty to clear previous search and list all names.' name='button' value='search') Search

          td.max25ch
            //- moved Save between headers and names (the dropdown lists) so it will show up in the same place as other buttons
            //- when submitted: [headerName, 'save', ap_id]
            //- that way, Save will be the same as Jump, Search, etc. When Save was 1st in line in this table, before headers, it was 
            //- coming first in the array for the form.body.button value.
            if (mode != 'discarded')
              button#save.inline(name='button' value='save') Save 

            //- prev and next are float right, so have to reverse order (fills from right to left)
            button#next.inlinebutton.right(formaction='/rentap/show/' + (undefined==ap ? undefined : ap.rowid) + '/next' formmethod='get') Next
            button#prev.inlinebutton.right(formaction='/rentap/show/' + (undefined==ap ? undefined : ap.rowid) + '/prev' formmethod='get') Prev

            //- like with the select for headers above, this will submit the form when it changes
            if (Names)
              select.inline(name='button' onchange='rentap.submit()')
                each Name in Names
                  option(value=Name.rowid selected=(undefined==ap ? 'Choose Name'==Name.FullName : ap.rowid===Name.rowid))= Name.FullName
              
      table.paddingtop 
        tr
          td.lowpadding 
            img(src='/images/icon.png')

          td.lowpadding  
            input#rentaladdress(name='rentaladdress' type='text' value=(!header ? 'enter rental address' : header.StreetAddress)) 
            input#rentalcitystzip(name='rentalcitystzip' type='text' value=(!header ? 'enter city, state, zip' : header.CityStateZip))

          td.lowpadding 
            input.title(name='title' type='text' value=(!header ? 'enter title' : header.Title))

          td.lowpadding  
            label.smalllabel(for='authdate') Applied 
            input#authdate(name='authdate' type='text' value=(undefined===ap ? '' : ap.dateApplied)) 

            label.sameline_label(for='rowprint') Row: 
            input#rowprint.readonly.sameline_input(name='rowprint' type='text' value=(undefined===rownum? '' : rownum) readonly) 
            br 
            label.sameline_label(for='rentapID') ID: 
            input#rentapID.readonly.sameline_input(name='rentapID' type='text' value=(undefined===ap? 'New' : ap.rowid) readonly) 
            
          td.lowpadding 
            label.smalllabel(for='guestdate') Guested 
            - var rentapDateGuested = undefined===ap ? '' : ap.dateGuested
            textarea#guestdate(name='guestdate' cols='8' rows='4')= rentapDateGuested

          td.lowpadding 
            label.smalllabel(for='rentdate') Rented 
            - var rentapDateRented = undefined===ap? '' : ap.dateRented
            textarea#rentdate(name='rentdate' cols='8' rows='4')= rentapDateRented

        //- rentaps[{FullName, SSN, BirthDate, MaritalStatus, Email, StateID, Phone1, Phone2, CurrentAddress, PriorAddresses, ProposedOccupants, ProposedPets, Income, Employment, Evictions, Felonies, dateApplied, dateGuested, dateRented, headerName}, ...], 
        //- rowmode{row,mode} and the ap.rowid=tbl.rowid of the rentap to display

        //- For a new ap, ap.rowid rentap and rowmode will all be undefined
        table#rentapbody 
          tr 
            td 
              ul 
                li.section_header Personal Information

                li
                  label.personalinfo(for='fullname') Full Name 
                  input#fullname(name='fullname' type='text' value=(undefined===ap? '' : ap.FullName))

                li 
                  label.personalinfo(for='ssnumber') Social Security Number 
                  input#ssnumber(name='ssnumber' type='text' value=(undefined===ap? '' : ap.SSN))

                li 
                  label.personalinfo(for='birthdate') Birth Date 
                  input#birthdate(name='birthdate' type='text' value=(undefined===ap? '' : ap.BirthDate))

                li 
                  label.personalinfo(for='maritalstatus') Marital Status 
                  input#maritalstatus(name='maritalstatus' type='text' value=(undefined===ap? '' : ap.MaritalStatus))

                li 
                  label.personalinfo(for='email') Email 
                  input#email(name='email' type='text' value=(undefined===ap? '' : ap.Email))

                li 
                  label.personalinfo(for='stateid') State ID# 
                  input#stateid(name='stateid' type='text' value=(undefined===ap? '' : ap.StateID))

                li 
                  label.personalinfo(for='phone1') Phone 1 
                  input#phone1(name='phone1' type='text' value=(undefined===ap? '' : ap.Phone1))

                li 
                  label.personalinfo(for='phone2') Phone 2 
                  input#phone2(name='phone2' type='text' value=(undefined===ap? '' : ap.Phone2))

                li 
                  - var ca = undefined===ap ? '' : ap.CurrentAddress
                  label#currentaddresslabel(for='currentaddress') #[strong Current Address, City, State, Zip, Dates, Rent, Landlord name and phone number]...  
                  textarea#currentaddress(name='currentaddress')= ca

                li 
                  - var pa = undefined===ap ? '' : ap.PriorAddresses
                  label(for='previousaddresses') #[strong Prior Addresses, Cities, States, Zips, Dates, Rents, Landlords]...  
                  textarea#previousaddresses(name='previousaddresses')= pa

            td 
              ul 
                li 
                  - var po = undefined===ap ? '' : ap.ProposedOccupants
                  label(for='occupants') #[strong Proposed Occupants: self+age, other+age]...  
                  textarea#occupants(name='occupants')= po

                li 
                  - var pp = undefined===ap ? '' : ap.ProposedPets
                  label(for='pets') #[<strong>Proposed Pets] 
                  textarea#pets(name='pets')= pp

                li 
                  - var inc = undefined===ap ? '' : ap.Income
                  label(for='income') #[strong Income &amp Food Stamps] 
                  textarea#income(name='income')= inc

                li
                  - var emp = undefined===ap ? '' : ap.Employment
                  label(for='employment') #[strong Employment: address, job, dates, hours, supervisor name and phone number]... 
                  textarea#employment(name='employment')= emp

            td
              ul
                li
                  - var ev = undefined===ap ? '' : ap.Evictions
                  label(for='evictions') #[strong Evictions Past 10 Years] 
                  textarea#evictions(name='evictions')= ev

                li
                  - var fe = undefined===ap ? '' : ap.Felonies
                  label(for='felonies') #[strong Felonies/Drug Convictions] 
                  textarea#felonies(name='felonies')= fe
